.App {
    text-align: center;
  }
.mt-50 {
    margin-top: 50px;
  }
.btn-reset{
    margin-top: 15px;
}
  span{
    padding: 10px 20px;
    margin:  10px;
    cursor: pointer;
  }
  .active{
    border:  solid 3px black;
  }
  
  #content{
    padding: 10px;
    border: solid 3px red;
  }
  